{% extends "base.html" %}

{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static '/css/registration.css' %}"> 
{% endblock %}
{% block tittle %}
<title>Login page</title>
{% endblock %}
{% block body %}
{% include 'messages.html' %}

<form class="form-group"method="post">
   {% csrf_token %}
   <label for="username">User name:</label>
   <input type="username" class="form-control" id="username" placeholder="enter username" name="username">
   <label for="pwd">Password:</label>
   <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"><br>
   <button type="submit" onclick="display()" class="btn btn-primary">Submit</button>
</form>

   <!-- java script -->
   <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
   <script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 2000)
  </script>
   {% endblock %}
   {% block footer %} 
   {% endblock %}